:root {
	--width: 50rem;
	--font-main: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font-secondary: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font-scale: 1.2em;

	--background-color: #10141c; /*background*/
	--heading-color: #e3e9f0; 
	--text-color: #cfcdc6;       /*foreground*/
	--link-color: #e6b450;       /*caret*/
	--visited-color: #e6b4504d;  /*block_caret*/
	--border: #6c738080;         /*active_guide*/
	--nav-background: #10141c7f; /*gutter + 7f*/

 	--code-accent: #e6b450;
 	--code-background: #0a0e14;
 	--code-foreground: #b3b1ad;
 	--code-ui: #3d424d;
 	--code-tag: #39bae6;
 	--code-func: #ffb454;
 	--code-entity: #59c2ff;
 	--code-string: #c2d94c;
 	--code-regexp: #95e6cb;
 	--code-markup: #f07178;
 	--code-keyword: #ff8f40;
 	--code-special: #e6b673;
 	--code-comment: #626a73;
 	--code-constant: #ffee99;
 	--code-operator: #f29668;
 	--code-error: #ff3333;
}


@media (prefers-color-scheme: light) {
	:root {
		--background-color: #fcfcfc; /*background*/
		--heading-color: #232920; 
		--text-color: #4f4d46;
		--link-color: #ff9940;       /*code-accent*/
		--visited-color: #ff99404d;  /*code-accent + 4d*/
		--border: #8a919959;         /*active_guide*/
		--nav-background: ##8a9199597f; /*gutter + 7f*/

		--code-accent: #ff9940;
		--code-background: #fafafa;
		--code-foreground: #6c7680;
		--code-ui: #959da6;
		--code-tag: #55b4d4;
		--code-func: #f2ae49;
		--code-entity: #399ee6;
		--code-string: #86b300;
		--code-regexp: #4cbf99;
		--code-markup: #f07171;
		--code-keyword: #fa8d3e;
		--code-special: #e6ba7e;
		--code-comment: #abb0b6;
		--code-constant: #a37acc;
		--code-operator: #ed9366;
		--code-error: #f51818;
	}
}

body {
    font-family: var--font-secondary;
    font-size: var(--font-scale);
    margin: 50px auto;
    padding: 20px;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  	font-family: var(--font-main);
    color: var(--heading-color);
}

strong, b {
  	color: var(--heading-color);
}

a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
}

a:hover {
     text-decoration: underline; 
}

nav {
  	position: fixed;
	top: 0;
	left: 0;
	background: var(--nav-background);
	display: flex;
	align-items: center;
	width: 100%;
  	height: 80px;
	z-index: 999;
	backdrop-filter: blur(5px);
  	-webkit-backdrop-filter: blur(5px);
}

nav p {
 	width: 50rem;
	padding: 0 20px;
	margin: 0 auto;
}

nav a {
    margin-right: 15px;
  	font-size: 0.9em;
}

button {
    margin: 0;
}

main {
    line-height: 1.6;
}

table {
    width: 100%;
}

hr {
    border: 0;
    border-top: 1px dashed;
}

img {
    max-width: 100%;
}

code {
    font-family: monospace;
    padding: 2px;
    background-color: var(--code-background);
    color: var(--code-foreground);
    border-radius: 3px;
}

blockquote {
    border-left: 1px solid var(--border);
    color: var(--code-color);
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding: 25px 0;
    text-align: center;
}

button {
	border: 0;
  	background-color: inherit;
  	text-decoration: underline;
  	color: var(--heading-color);
}

.title {
    text-decoration: none;
}

.title h1 {
    color: var(--link-color);
}

.inline {
    width: auto !important;
}

.highlight,
.code {
    padding: 1px 15px;
    background-color: var(--code-background);
    color: var(--code-color);
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: auto;
}

/* syntax highlighting: ayu (See other pygments colorschemes)*/
.highlight .c { color: var(--code-comment); font-style: italic; } /* Comment */
.highlight .err { color: var(--code-background); background-color: var(--code-error); } /* Error */
  // .g { color: var(--code-generic) } /* Generic */
.highlight .k { color: var(--code-keyword) } /* Keyword */
.highlight .o { color: var(--code-operator) } /* Operator */
.highlight .cm { color: var(--code-comment) } /* Comment.Multiline */
.highlight .cp { color: var(--code-comment) } /* Comment.Preproc */
.highlight .c1 { color: var(--code-comment) } /* Comment.Single */
.highlight .cs { color: var(--code-special) } /* Comment.Special */
.highlight .gd { color: var(--code-error) } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: var(--code-background); background-color: var(--code-error); } /* Generic.Error */
.highlight .gh { color: var(--code-accent) } /* Generic.Heading */
.highlight .gi { color: var(--code-string) } /* Generic.Inserted */
.highlight .go { color: var(--code-foreground) } /* Generic.Output */
.highlight .gp { color: var(--code-foreground) } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: var(--code-foreground) } /* Generic.Subheading */
.highlight .gt { color: var(--code-background); background-color: var(--code-error); } /* Generic.Traceback */
.highlight .kc { color: var(--code-keyword) } /* Keyword.Constant */
.highlight .kd { color: var(--code-keyword) } /* Keyword.Declaration */
.highlight .kn { color: var(--code-operator) } /* Keyword.Namespace */
.highlight .kp { color: var(--code-keyword) } /* Keyword.Pseudo */
.highlight .kr { color: var(--code-keyword) } /* Keyword.Reserved */
.highlight .kt { color: var(--code-keyword) } /* Keyword.Type */
.highlight .m { color: var(--code-constant) } /* Literal.Number */
.highlight .s { color: var(--code-constant) } /* Literal.String */
.highlight .na { color: var(--code-entity) } /* Name.Attribute */
.highlight .nb { color: var(--code-entity) } /* Name.Builtin */
.highlight .nc { color: var(--code-func) } /* Name.Class */
.highlight .no { color: var(--code-constant) } /* Name.Constant */
.highlight .nd { color: var(--code-func) } /* Name.Decorator */
.highlight .ni { color: var(--code-entity) } /* Name.Entity */
.highlight .ne { color: var(--code-func) } /* Name.Exception */
.highlight .nf { color: var(--code-func) } /* Name.Function */
.highlight .nl { color: var(--code-entity) } /* Name.Label */
.highlight .nn { color: var(--code-entity) } /* Name.Namespace */
.highlight .nt { color: var(--code-tag) } /* Name.Tag */
.highlight .nv { color: var(--code-entity) } /* Name.Variable */
.highlight .ow { color: var(--code-operator) } /* Operator.Word */
.highlight .w { color: var(--code-entity) } /* Text.Whitespace */
.highlight .mf { color: var(--code-constant) } /* Literal.Number.Float */
.highlight .mh { color: var(--code-constant) } /* Literal.Number.Hex */
.highlight .mi { color: var(--code-constant) } /* Literal.Number.Integer */
.highlight .mo { color: var(--code-constant) } /* Literal.Number.Oct */
.highlight .sb { color: var(--code-string) } /* Literal.String.Backtick */
.highlight .sc { color: var(--code-string) } /* Literal.String.Char */
.highlight .sd { color: var(--code-string) } /* Literal.String.Doc */
.highlight .s2 { color: var(--code-string) } /* Literal.String.Double */
.highlight .se { color: var(--code-constant) } /* Literal.String.Escape */
.highlight .sh { color: var(--code-string) } /* Literal.String.Heredoc */
.highlight .si { color: var(--code-string) } /* Literal.String.Interpol */
.highlight .sx { color: var(--code-string) } /* Literal.String.Other */
.highlight .sr { color: var(--code-regexp) } /* Literal.String.Regex */
.highlight .s1 { color: var(--code-string) } /* Literal.String.Single */
.highlight .ss { color: var(--code-tag) } /* Literal.String.Symbol */
.highlight .s { color: var(--code-string) } /* Literal.String */
.highlight .bp { color: var(--code-entity) } /* Name.Builtin.Pseudo */
.highlight .vc { color: var(--code-entity) } /* Name.Variable.Class */
.highlight .vg { color: var(--code-entity) } /* Name.Variable.Global */
.highlight .vi { color: var(--code-entity) } /* Name.Variable.Instance */
.highlight .il { color: var(--code-constant) } /* Literal.Number.Integer.Long */
/* enf of syntax highlighting */

/* blog post list */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
}

ul.blog-posts li span {
    flex: 0 0 130px;
}

ul.blog-posts li a:visited {
    color: var(--visited-color);
}
